<div class="jumbotron text-center back">
    <h1 class="display-4 animated fadeInUp">Freelancers!</h1>
    {{!-- <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Search by</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" id="searchPosition" href="/api/freelancers/position/:position">Position/Trade</a>
                <a class="dropdown-item" id="searchLocation" href="/api/freelancers/location/:location">State</a>
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div> --}}
    <hr class="my-4">
    <table class="table table-hover ">
        <thead class="thead-dark">
            <tr class= "animated fadeInUp">
                <th scope="col">Freelancer</th>
                <th scope="col">Name</th>
                <th scope="col">Position/Trade</th>
                <th scope="col">State</th>
                <th scope="col">Rate/Hr</th>
                <th scope="col">Email Address</th>
            </tr>
        </thead>
        <tbody>
            {{#each freelancers}}
            <tr class= "animated fadeInUp" >
                <th scope="row">{{this.id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.position}}</td>
                <td>{{this.location}}</td>
                <td>{{this.rate}}</td>
                <td>{{this.email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>