<div class="jumbotron text-center">
    <h1 class="display-4">Freelancers!</h1>
    <hr class="my-4">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Freelancer</th>
                <th scope="col">Name</th>
                <th scope="col">Position/Trade</th>
                <th scope="col">Location</th>
                <th scope="col">Rate/Hr</th>
                <th scope="col">Email Address</th>
            </tr>
        </thead>
        <tbody>
            {{#each freelancers}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.position}}</td>
                <td>{{this.location}}</td>
                <td>{{this.rate}}</td>
                <td>{{this.email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>